<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../static/css/bootstrap.css" rel="stylesheet">
        <style>
            html, body, .contianer{
                width: 100%;
                height: 500px;
            }
            .col{
                height: 50px;
            }
        </style>
    </head>
    <body>
        <div class="contianer">col-lg-1
            <div class="col col-lg-1" style='background-color:#ffccff;'></div><br><br><br><hr>col-lg-2
            <div class="col col-lg-2" style='background-color:#00ffff;'></div><br><br><br><hr>col-md-1
            <div class="col col-md-1" style='background-color:#400080;'></div><br><br><br><hr>col-sm-4
            <div class="col col-sm-3 col-sm-offset-4" style='background-color:#808080;'></div><br><br><br><hr>col-xs-4
            <div class="col col-xs-4" style='background-color:#808000;'></div><br><br><br><hr>
        </div>
    </body>
</html>